@{
    ViewBag.Title = "Kontakt";
}
<main aria-labelledby="title">
    <h2 id="title" style="color: deeppink">@ViewBag.Title.</h2>

    <address style="background-color:lavenderblush">
        Kraków AGH<br />
        Wydział Zarządzania<br />
        Gramatyka 10<br />
        <abbr title="Phone"></abbr>
        425.555.0100
    </address>

    <p>Dokumentacja do projektu znajduje sie pod tym <a href="https://aghedupl-my.sharepoint.com/:w:/g/personal/faltynatalia_student_agh_edu_pl/EYjxNxJhiURFi-34sGRb10cBaU62UB4jVOGfPobEcVuTIA?e=sATHXT">linkiem</a></p>
</main>